@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  min-height:100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.pop-up{
  background-color : rgb(215, 238, 216);
  width : 45em;
  height : 36em;
  position : fixed;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
  display : flex;
  align-items : center;
  flex-direction : column;
  border : 1px solid black;
  border-radius : 5px;
}

div.pop-up .pop-up-title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
  color: black;
}

div.pop-up .pop-up-content{
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 40px;
}

div.pop-up .input{
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
  margin-bottom: 110px;
  max-width: 95%;
  width: 80%;
  box-sizing: border-box;
  
}

div.pop-up .save-button{
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  background-color: hsla(160, 93%, 35%, 0.55);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px 20px;
}

div.pop-up .save-button:hover{
  background-color:#41b883; 
}

div.pop-up .close-button{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: hsla(160, 93%, 35%, 0.55);;
  border: none;
  background-color: rgb(215, 238, 216);
  font-size: 25px;
}

div.pop-up .close-button:hover{
  color:#41b883; 
}


button.edit-button{
  background-color: hsl(160, 93%, 35%);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 15px;
  cursor: pointer;

}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  
  opacity: 0;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
  a.logo:hover {
    background-color: transparent;
  }
}
